<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<a href="#"><li>CSS</li></a>
			<a href="#"><li>HTML</li></a>
			<a href="#"><li>Javascript</li></a>
			<a href="#"><li>Ruby</li></a>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<a href="#"><li>FAQ</li></a>
			<a href="#"><li>Contact Us</li></a>
		</ul>
	</li>
</ul>
