<div class="jumbotron">
  <h1>Hello, citizens</h1>
  <p>Welcome to the Music App</p>
  <img src="http://blogs-images.forbes.com/jonathanchester/files/2016/09/Music-Industry-Photo.jpg?width=960" width='100%'>

  <div class="button-group">
    <%= link_to 'Log In', new_session_url, class: 'btn btn-lg btn-success' %>
    &nbsp&nbsp&nbsp
    <%= link_to 'Sign Up', new_user_url, class: 'btn btn-lg btn-success'%>
  </div>


</div>
