.section-nav {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
}

.section-links {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  font-size: 12px;
  font-family: $sans-serif;
}

.section-links a:hover {
  background-color: $light-gray;
  text-decoration: none;
}

#all-link {
  text-transform: uppercase;
  font-size: 10px;
}

#all-link:hover {
  text-decoration: underline;
  background-color: white;
}
